Repository oamg/convert2rhel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oamg/convert2rhel-developers, @danmyway, @kokesak, @SerCantus, @Venefilyn, @bocekm, @pr-watson, @r0x0d, @bookwar

Remove grub function and tests
  convert2rhel/grub.py
  convert2rhel/unit_tests/grub_test.py
Owners: @oamg/convert2rhel-developers

Remove mock call counts from main
  convert2rhel/actions/conversion/update_grub.py
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
Owners: @oamg/convert2rhel-developers

Port update_grub_after_conversion() to Action framework
  convert2rhel/actions/conversion/update_grub.py
  convert2rhel/unit_tests/actions/conversion/update_grub_test.py
Owners: @oamg/convert2rhel-developers

Update unit tests
  convert2rhel/actions/conversion/update_grub.py
  convert2rhel/grub.py
  convert2rhel/unit_tests/actions/conversion/update_grub_test.py
Owners: @oamg/convert2rhel-developers

Fix action id
  convert2rhel/actions/conversion/update_grub.py
Owners: @oamg/convert2rhel-developers

Added the install for podman to the manpage hook
  .pre-commit-config.yaml
Owners: none

removed the check to see if podman is insalled
  .pre-commit-config.yaml
Owners: none

Draft added script to install and enter container
  .pre-commit-config.yaml
  enter_manpage_gen_container.sh
Owners: none

Draft removed sudo from the podman install command
  enter_manpage_gen_container.sh
Owners: none

Draft changed the way this installs podman
  enter_manpage_gen_container.sh
Owners: none

Draft trying a diffrent url for podman
  enter_manpage_gen_container.sh
Owners: none

Draft checking package managers to install podman
  enter_manpage_gen_container.sh
Owners: none

Add Makefile command to generate manpage
  Containerfiles/centos9.Containerfile
  Containerfiles/manpage.Containerfile
  Makefile
  enter_manpage_gen_container.sh
  requirements/manpages.requirements.txt
  scripts/manpage_generation.py
Owners: @Venefilyn, @r0x0d

Apply suggestions from code review
  convert2rhel/unit_tests/actions/conversion/update_grub_test.py
Owners: @oamg/convert2rhel-developers

Update bootloader error description
  convert2rhel/actions/conversion/update_grub.py
  convert2rhel/unit_tests/actions/conversion/update_grub_test.py
Owners: @oamg/convert2rhel-developers

Simplify playbooks, include el9, add almalinux-repos
  .packit.yaml
  convert2rhel/data/9/x86_64/configs/almalinux-9-x86_64.cfg
  plans/main.fmf
  plans/tier0.fmf
  tests/ansible_collections/roles/add-custom-repos/main.yml
  tests/ansible_collections/roles/add-custom-repos/rhel9-eus-repos.yml
  tests/ansible_collections/roles/add-custom-repos/rhel9-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/alma-88-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/alma-eus-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/main.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/rocky-88-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/rocky-eus-repos.yml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/boot_standard_kernel.yml
  tests/integration/common/checks-after-conversion/test_release_version.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
Owners: @oamg/convert2rhel-developers, @danmyway, @kokesak, @SerCantus

Prepare for test coverage
  .packit.yaml
  plans/main.fmf
  tests/integration/common/checks-after-conversion/test_enabled_repositories.py
  tests/integration/common/checks-after-conversion/test_release_version.py
Owners: @danmyway, @kokesak, @SerCantus

Fix single yum transaction and isolated system tests
  .packit.yaml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/boot_standard_kernel.yml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/main.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/isolated-system-conversion/prepare_system.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
Owners: @danmyway, @kokesak, @SerCantus

Call the grub_setup_workaround in specific places
  .packit.yaml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/boot_standard_kernel.yml
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
Owners: @danmyway, @kokesak, @SerCantus

Update kernel fixture in conftest
  .packit.yaml
  tests/ansible_collections/roles/grub-setup/tasks/grub_setup.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier1/destructive/proxy-conversion/test_proxy_conversion.py
Owners: @danmyway, @kokesak, @SerCantus

Add a new check, fix tests, remove remediation
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/checks-after-conversion/test_grub_default.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
Owners: @danmyway, @kokesak, @SerCantus

Refactor kernel fixture, fix isolated_system prep
  tests/integration/conftest.py
  tests/integration/tier0/destructive/isolated-system-conversion/prepare_system.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Owners: @danmyway, @kokesak, @SerCantus

Include el9 in more tests, remove unnecessary code
  plans/tier0.fmf
  plans/tier1.fmf
  tests/ansible_collections/roles/install-submgr/install_submgr_from_centos_8.yml
  tests/ansible_collections/roles/install-submgr/install_submgr_from_ubi_7.yml
  tests/ansible_collections/roles/install-submgr/main.yml
  tests/ansible_collections/roles/install-submgr/remove_rhn_client_tools.yml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/boot_standard_kernel.yml
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/duplicate-pkgs/main.fmf
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier1/destructive/proxy-conversion/test_proxy_conversion.py
  tests/integration/tier1/destructive/set-locale/use_non_english_language.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
Owners: @danmyway, @kokesak, @SerCantus

Fix more tests, move rocky-logos to excluded
  convert2rhel/data/9/x86_64/configs/oracle-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/rocky-9-x86_64.cfg
  plans/tier1.fmf
  tests/ansible_collections/main.yml
  tests/ansible_collections/roles/add-custom-repos/main.yml
  tests/ansible_collections/roles/grub-setup/tasks/grub_setup.yml
  tests/ansible_collections/roles/grub-setup/tasks/main.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/main.yml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/boot_standard_kernel.yml
  tests/integration/common/checks-after-conversion/test_grub_default.py
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/custom-repository/files/rhel9-eus.repo
  tests/integration/tier0/non-destructive/custom-repository/files/rhel9.repo
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/kernel-modules/main.fmf
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/main.fmf
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_missing_boot_files.py
Owners: @oamg/convert2rhel-developers, @danmyway, @kokesak, @SerCantus

Add comment to new test discover
  plans/tier1.fmf
Owners: none

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# If you would like to be the owner of something and you
# are either a member or well-known contributor. Just
# submit a PR to add yourself

# Convert2RHEL codebase itself
convert2rhel/             @oamg/convert2rhel-developers

# Integration tests
tests/integration         @danmyway @kokesak @SerCantus

# Packaging
packaging/                @Venefilyn @bocekm @pr-watson @r0x0d @bookwar

# Containers
.devcontainer/            @Venefilyn @r0x0d
*.Containerfile           @Venefilyn @r0x0d
