Repository oamg/convert2rhel, pull requests merged in 2023-12, with the labels that each got.

#999 [RHELC-1270] Update package handling check to properly report removed packages
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
Labels: enhancement, tests-run-sanity

#983 [RHELC-1193] Identify highest status in json report
  convert2rhel/actions/report.py
  convert2rhel/unit_tests/actions/report_test.py
  schemas/assessment-schema-1.1.json
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
Labels: enhancement, tests-run-sanity

#995 [RHELC-1241] Make report messages about removed packages less confusing
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
Labels: no-changelog, tests-skip

#997 [RHELC-1267] Add Alma, Rocky 8.9 to pipeline, 8.8 as EUS
  .packit.yaml
  convert2rhel/actions/system_checks/package_updates.py
  plans/main.fmf
  plans/tier0.fmf
  tests/ansible_collections/main.yml
  tests/ansible_collections/roles/add-custom-repos/main.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/main.yml
  tests/integration/common/checks-after-conversion/test_enabled_repositories.py
  tests/integration/common/checks-after-conversion/test_release_version.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/convert-offline-systems/prepare_system.py
  tests/integration/tier0/destructive/method/custom_repos.py
  tests/integration/tier0/non-destructive/custom-kernel/test_custom_kernel.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/one-kernel-scenario/remove_other_kernels.py
  tests/integration/tier1/destructive/system-up-to-date/install_non_latest_kernel.py
  tests/integration/tier1/destructive/system-up-to-date/main.fmf
  tests/integration/tier1/destructive/system-up-to-date/test_non_latest_kernel_inhibitor.py
  tests/integration/tier1/destructive/system-up-to-date/test_system_up_to_date.py
Labels: test-coverage-enhancement, tests-run-sanity

#1007 [RHELC-855, RHELC-1277] Tests/improve package backup
  plans/tier0.fmf
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/destructive/convert-offline-systems/run_conversion.py
  tests/integration/tier0/destructive/method/activation_key.py
  tests/integration/tier0/destructive/method/custom_repos.py
  tests/integration/tier0/destructive/method/pre_registered.py
  tests/integration/tier0/destructive/method/rhsm.py
  tests/integration/tier0/destructive/method/rhsm_non_eus.py
  tests/integration/tier0/destructive/method/satellite.py
  tests/integration/tier0/destructive/single-yum-transaction/test_check_for_latest_packages.py
  tests/integration/tier0/destructive/single-yum-transaction/test_single_yum_transaction.py
  tests/integration/tier0/destructive/yum-distro-sync/test_yum_distro_sync.py
  tests/integration/tier0/non-destructive/application-lock/test_application_lock.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
  tests/integration/tier0/non-destructive/custom-kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/cve-2022-1662/test_cve-2022-1662.py
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
  tests/integration/tier0/non-destructive/file-backup/main.fmf
  tests/integration/tier0/non-destructive/file-backup/test_file_backup.py
  tests/integration/tier0/non-destructive/firewalld-inhibitor/test_firewalld_inhibitor.py
  tests/integration/tier0/non-destructive/internet-connection-check/test_internet_connection_check.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/latest-kernel-check/test_latest_kernel_check.py
  tests/integration/tier0/non-destructive/logged-command/test_logged_command.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/oracle-linux-unbreakable-enterprise-kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/test_problematic_third_party_pkgs.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier0/non-destructive/user-prompt-response/test_user_prompt_response.py
  tests/integration/tier1/destructive/changed-grub-file/test_invalid_changed_grub.py
  tests/integration/tier1/destructive/changed-grub-file/test_valid_changed_grub.py
  tests/integration/tier1/destructive/changed-yum-conf/test_patch_yum_conf.py
  tests/integration/tier1/destructive/config-file/test_config_file.py
  tests/integration/tier1/destructive/detect-bootloader-partition/test_detect_correct_boot_partition.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_corrupted_files.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_missing_boot_files.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/one-kernel-scenario/run_conversion.py
  tests/integration/tier1/destructive/remove-excld-pkgs/test_remove_excld_pkgs.py
  tests/integration/tier1/destructive/removed-pkgs-centos-85/test_removed_pkgs_centos_85.py
  tests/integration/tier1/destructive/satellite_non_eus_repos/satellite_non_eus_repos.py
  tests/integration/tier1/destructive/system-up-to-date/test_non_latest_kernel_inhibitor.py
  tests/integration/tier1/destructive/system-up-to-date/test_system_up_to_date.py
Labels: no-changelog, tests-run-tier0

#1009 Set env var using monkeypatch
  convert2rhel/unit_tests/toolopts_test.py
Labels: enhancement, tests-skip

#1014 [RHELC-1272] Fix parsing yumdownloader output with a carriage return
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils.py
Labels: enhancement, tests-run-sanity

#1016 Bump to version 1.6.1
  convert2rhel/__init__.py
  packaging/convert2rhel.spec
Labels: enhancement, tests-skip

#1013 Hotfix tests
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/rollback-handling/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/system-up-to-date/test_system_up_to_date.py
Labels: no-changelog, tests-skip
