Repository oamg/convert2rhel, pull requests merged in 2023-08, with the labels that each got.

#872 [RHELC-1109] Try Label Commenter GitHub Action
  .github/label-commenter-config.yml
  .github/workflows/enforce_verification_labels.yml
  .github/workflows/label-commenter.yml
  .packit.yaml
Labels: no-changelog, tests-skip

#871 [RHELC-1056] Fix lsmod not being found on OL7
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  packaging/convert2rhel.spec
Labels: bug-fix

#889 [RHELC-1104] Change the id separator in the cli report to match what will be displayed in the insights webUI
  convert2rhel/actions/__init__.py
  convert2rhel/unit_tests/actions/report_test.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/custom-kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/oracle-linux-unbreakable-enterprise-kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
Labels: no-changelog, tests-run-tier0

#820 [RHELC-970] Update CLI to introduce new subcommands for pre conversion analysis
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
  man/__init__.py
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/assessment-report/main.fmf
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/main.fmf
  tests/integration/tier1/non-destructive/main.fmf
Labels: enhancement, tests-run-all

#894 [RHELC-1129] Update the convert2rhel contextmanager
  .packit.yaml
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/sub-man-rollback/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Labels: no-changelog, tests-skip
