Repository oamg/convert2rhel, pull requests merged in 2023-11, with the labels that each got.

#912 [RHELC-1154] Try to rollback all changes even if one of them fails.
  convert2rhel/backup.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/backup_test.py
  convert2rhel/unit_tests/main_test.py
Labels: bug-fix, tests-run-tier0

#818 [RHELC-895] Fix error message when repoquery fails to retrieve information on kmod packages
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: bug-fix, tests-run-tier0

#980 Manually updated the manpages
  man/convert2rhel.8
Labels: no-changelog, tests-skip

#977 [RHELC-1089] Add OVERRIDABLE result to handle_packages.py
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
Labels: enhancement, tests-run-tier0

#978 [RHELC-1089] Add OVERRIDABLE result to package_updates.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
Labels: enhancement, tests-run-tier0

#984 [RHELC-1225] Fix an exception when listing third-party packages with Epoch 2
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: bug-fix, tests-run-tier0

#986 [RHELC-1242] Remove "Skipping the check of repos" from report
  convert2rhel/actions/system_checks/custom_repos_are_valid.py
  convert2rhel/unit_tests/actions/system_checks/custom_repos_are_valid_test.py
Labels: no-changelog, tests-skip

#991 [RHELC-1246] Fix sub-man installation on EL8
  convert2rhel/subscription.py
  convert2rhel/unit_tests/subscription_test.py
Labels: bug-fix, tests-run-tier0

#992 Disable cache for pytest
  Makefile
Labels: no-changelog, tests-skip

#993 [RHELC-1096] Change the sorting order for the report
  convert2rhel/actions/report.py
  convert2rhel/unit_tests/actions/report_test.py
Labels: enhancement, tests-run-sanity

#996 [RHELC-1089] Revert overridable result in package handling check
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
Labels: enhancement, tests-run-all

#998 [RHELC-1252] Fix sub-man-rhsm-certs installation on 8.5/8.8
  convert2rhel/subscription.py
  convert2rhel/unit_tests/subscription_test.py
Labels: no-changelog, tests-run-tier0

#988 [RHELC-1089, RHELC-1225] Add integration tests
  .packit.yaml
  plans/main.fmf
  pytest.ini
  tests/ansible_collections/roles/install-testing-deps/tasks/main.yml
  tests/integration/common/checks-after-conversion/test_release_version.py
  tests/integration/tier0/non-destructive/assessment-report/main.fmf
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/eus/main.fmf
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/main.fmf
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/test_problematic_third_party_pkgs.py
Labels: no-changelog, tests-run-all
