Repository oamg/convert2rhel, pull requests merged in 2023-10, with the labels that each got.

#937 [RHELC-1037] Adds in a dependency for six for the auto-gen manpages action
  .github/workflows/generate_manpage.yml
  scripts/manpage_generation.sh
Labels: no-changelog, tests-skip

#940 [RHELC-1102] Enable el9 conversions config updates
  .packit.yaml
  Containerfiles/rpmbuild.centos9.Containerfile
  Makefile
  convert2rhel/data/9/x86_64/configs/almalinux-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/oracle-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/rocky-9-x86_64.cfg
  convert2rhel/data/9/x86_64/rhel-certs/479.pem
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/alma-88-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/rocky-88-repos.yml
Labels: enhancement, tests-run-all

#939 [RHELC-965,RHELC-1170] Framework to remove UNKNOWN_ERROR from the Assessment.
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/backup.py
  convert2rhel/exceptions.py
  convert2rhel/logger.py
  convert2rhel/main.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/backup_test.py
  convert2rhel/unit_tests/logger_test.py
  convert2rhel/unit_tests/main_test.py
Labels: no-changelog, tests-run-tier0

#924 [RHELC-1055] Print pre-conversion report to txt file
  .packit.yaml
  convert2rhel/actions/report.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/report_test.py
  convert2rhel/unit_tests/main_test.py
  tests/integration/tier0/non-destructive/assessment-report/main.fmf
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
Labels: enhancement, tests-run-tier0

#957 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with certificates
  convert2rhel/cert.py
  convert2rhel/unit_tests/cert_test.py
Labels: no-changelog, tests-run-tier0

#958 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with pkghandler
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: no-changelog, tests-run-tier0

#959 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with backup
  convert2rhel/backup.py
  convert2rhel/unit_tests/backup_test.py
Labels: no-changelog, tests-run-tier0

#956 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with subscriptions
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/subscription_test.py
Labels: no-changelog, tests-run-tier0

#965 Add emacs TAGS file to .gitignore.
  .gitignore
Labels: no-changelog, tests-skip

#942 [RHELC-1102] Enable el9 conversions github workflow updates
  .github/workflows/build_images.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Labels: no-changelog, tests-skip

#967 [RHELC-1102] Fix CentOS Stream 9 image to use quay
  Containerfiles/centos9.Containerfile
Labels: no-changelog, tests-skip

#968 chore: run unit tests and builds in parallel
  .github/workflows/build_images.yml
  .github/workflows/coverage.yml
Labels: no-changelog, tests-skip

#969 chore: add coverage to centos9 requirements
  requirements/centos9.requirements.txt
Labels: no-changelog, tests-skip

#960 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with pkgmanager
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
Labels: no-changelog, tests-run-tier0

#970 Update kernel_module_tests with missing mock
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
Labels: no-changelog, tests-skip

#971 Rename duplicate test phase names
  plans/tier0.fmf
  plans/tier1.fmf
Labels: no-changelog, tests-run-all

#947 [RHELC-880] 8.8 as an EUS release supported for conversions
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/actions/system_checks/eus.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/backup.py
  convert2rhel/pkghandler.py
  convert2rhel/repo.py
  convert2rhel/subscription.py
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/actions/system_checks/eus_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  convert2rhel/unit_tests/repo_test.py
  convert2rhel/unit_tests/subscription_test.py
  convert2rhel/unit_tests/systeminfo_test.py
Labels: enhancement, tests-run-sanity

#950 Multiple NIC integration test
  plans/tier1.fmf
  tests/integration/tier1/destructive/multiple-nic/main.fmf
  tests/integration/tier1/destructive/multiple-nic/multiple_nic.py
Labels: no-changelog, tests-run-tier1, tests-run-sanity

#941 [RHELC-1102] Enable el9 conversions general updates
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/pkghandler.py
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/redhatrelease.py
  convert2rhel/repo.py
  convert2rhel/subscription.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/subscription_test.py
  convert2rhel/utils.py
Labels: enhancement, tests-run-all

#973 [RHELC-965] Change `UNKNOWN_ERROR` to be more verbose with transaction
  convert2rhel/actions/pre_ponr_changes/transaction.py
  convert2rhel/exceptions.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/transaction_test.py
Labels: no-changelog, tests-run-tier0

#972 Integration tests: address changes in reported strings
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
Labels: no-changelog, tests-run-tier0

#953 [RHELC-1180] Check for firewalld system unit
  convert2rhel/actions/pre_ponr_changes/transaction.py
  convert2rhel/actions/system_checks/check_firewalld_availability.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/transaction_test.py
  convert2rhel/unit_tests/actions/system_checks/check_firewalld_availability_test.py
  convert2rhel/unit_tests/actions/system_checks/dbus_test.py
  plans/tier1.fmf
  pytest.ini
  tests/ansible_collections/roles/oracle-linux-specific/tasks/main.yml
  tests/ansible_collections/roles/oracle-linux-specific/tasks/stop_firewalld_workaround.yml
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/checks-after-conversion/test_firewalld_errors.py
  tests/integration/tier0/non-destructive/firewalld-inhibitor/main.fmf
  tests/integration/tier0/non-destructive/firewalld-inhibitor/test_firewalld_inhibitor.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/main.fmf
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
Labels: enhancement, tests-run-tier0, tests-run-all

#976 Bump to version 1.5.0
  convert2rhel/__init__.py
  packaging/convert2rhel.spec
Labels: no-changelog, tests-skip

#900 [RHELC-1098] Change Action results so that no information is given in SUCCESS results
  convert2rhel/actions/__init__.py
  convert2rhel/unit_tests/actions/actions_test.py
Labels: enhancement, tests-run-all

#952 [RHELC-1117] Fix backtrace in kernel signature verification
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  convert2rhel/unit_tests/actions/system_checks/rhel_compatible_kernel_test.py
Labels: bug, bug-fix, tests-run-tier0
