Repository oamg/convert2rhel, pull requests merged in 2024-05, with the labels that each got.

#1202 Cleanup of unused imports
  convert2rhel/repo.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  convert2rhel/unit_tests/breadcrumbs_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/repo_test.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
Labels: no-changelog, tests-run-sanity

#1198 [RHELC-1519] Don't report on skipping dbus check
  convert2rhel/actions/system_checks/dbus.py
  convert2rhel/unit_tests/actions/system_checks/dbus_test.py
Labels: enhancement, tests-run-sanity

#1204 [RHELC-1493] Add rhel 9 version support up to 9.10
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/conftest.py
Labels: enhancement, tests-run-tier0

#1192 [RHELC-1515] Fix the enabled repository check after the conversion
  plans/tier0.fmf
  tests/integration/common/checks-after-conversion/test_enabled_repositories.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_eus.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_non_eus.py
  tests/integration/tier0/destructive/single-yum-transaction/install_dependency_packages.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/eus/main.fmf
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
Labels: tests-run-tier0, test-coverage-enhancement

#1159 [RHELC-1470] Add a test using a proxy server
  plans/tier0.fmf
  plans/tier1.fmf
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier1/destructive/proxy-conversion/main.fmf
  tests/integration/tier1/destructive/proxy-conversion/test_proxy_conversion.py
Labels: no-changelog, tests-run-tier1

#1210 [RHELC-1521] Fix check for reposdir in RestorablePackage class
  convert2rhel/backup/packages.py
Labels: bug-fix, tests-run-sanity

#1222 [RHELC-1526] Add the libreport-plugin-mantisbt to excluded list
  convert2rhel/data/7/x86_64/configs/centos-7-x86_64.cfg
Labels: bug-fix, tests-run-sanity, merge-after-tests-ok

#1208 [RHELC-1525] Fix cornercase with userpass and keyorg
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
Labels: bug-fix, tests-run-tier0

#1153 [RHELC-1275, RHELC-1516] Exit with 1 when rollback fails
  convert2rhel/backup/__init__.py
  convert2rhel/backup/certs.py
  convert2rhel/backup/files.py
  convert2rhel/main.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/backup/certs_test.py
  convert2rhel/unit_tests/backup/files_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: enhancement, tests-run-tier0

#1214 [RHELC-1528] Fix empty error message in Yum transaction failure
  convert2rhel/exceptions.py
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
Labels: enhancement, tests-run-tier0

#1194 [RHELC-1314, RHELC-1524, RHELC-1387] Drop the use of the katello package from the tests
  plans/main.fmf
  plans/tier0.fmf
  pytest.ini
  tests/ansible_collections/roles/get-test-vars/tasks/get-test-vars.yml
  tests/ansible_collections/roles/remove-tf-artifact-leftovers/tasks/clean_up_el7.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/conversion-method/test_satellite.py
  tests/integration/tier0/destructive/offline-system-conversion/prepare_system.py
  tests/integration/tier0/destructive/single-yum-transaction/test_check_for_latest_packages.py
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
  tests/integration/tier0/non-destructive/file-backup/test_file_backup.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/main.fmf
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/rhsm-facts/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/proxy-conversion/test_proxy_conversion.py
  tests/integration/tier1/non-destructive/main.fmf
Labels: no-changelog, tests-run-all

#1225 [RHELC-1551 Fix report duplication after analysis
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
Labels: bug-fix, tests-run-sanity

#1226 [RHELC-1547] Fix regression in installing removed packages during rollback
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
Labels: bug-fix, tests-run-tier0

#1224 Check if rollback failed when handling InhibitorFound exception
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
Labels: bug-fix, tests-skip

#1174 [RHELC-884] Disable RHEL repos when performing checks
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/backup/packages.py
  convert2rhel/pkghandler.py
  convert2rhel/repo.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/repo_test.py
Labels: enhancement, tests-run-tier0

#1228 [RHELC-1286, RHELC-1555] Add tests validating the ELS support
  plans/tier0.fmf
  pytest.ini
  tests/integration/common/checks-after-conversion/test_enabled_repositories.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/conversion-method/test_rhsm_els.py
  tests/integration/tier0/non-destructive/els/main.fmf
  tests/integration/tier0/non-destructive/els/test_els_support.py
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
Labels: tests-run-tier0, test-coverage-enhancement

#1233 [RHELC-1291, RHELC-1292] Skip versionlock file in backup system actions
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
Labels: bug-fix, tests-run-tier1

#1219 [RHELC-1540] Fix bug with duplicate packages check when running with Satellite offline
  convert2rhel/actions/system_checks/duplicate_packages.py
  convert2rhel/unit_tests/actions/system_checks/duplicate_packages_test.py
Labels: enhancement, tests-run-sanity

#1234 [RHELC-1556] Raise when RestorablePackage fails to restore
  convert2rhel/backup/packages.py
  convert2rhel/unit_tests/backup/packages_test.py
Labels: bug-fix, tests-run-sanity

#1164 [RHELC-601] Install subscription-manager using package manager
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/backup/packages.py
  convert2rhel/pkgmanager/__init__.py
  convert2rhel/repo.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/backup/packages_test.py
  convert2rhel/unit_tests/pkgmanager/pkgmanager_test.py
  convert2rhel/unit_tests/repo_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: enhancement, tests-run-tier0, merge-after-tests-ok

#1206 [RHELC-1303, RHELC-1527, RHELC-1557] Enhance exit code testing
  plans/tier1.fmf
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/cve-2022-1662/test_cve-2022-1662.py
  tests/integration/tier0/non-destructive/file-backup/test_file_backup.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/logged-command/test_logged_command.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/rollback-handling/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier0/non-destructive/user-prompt-response/test_user_prompt_response.py
  tests/integration/tier1/destructive/excluded-packages-removed/test_excluded_pkgs_removed.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
Labels: no-changelog, tests-run-all

#1238 [RHELC-1561] Change result of the c2r version check to OVERRIDABLE
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: enhancement, tests-run-sanity

#1237 Return a list instead of string for disablerepo command
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/pkghandler.py
  convert2rhel/repo.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/repo_test.py
Labels: bug-fix, tests-run-sanity

#1108 Add autodocs boilerplate
  .gitignore
  convert2rhel/actions/__init__.py
  docs/Makefile
  docs/source/_templates/custom-class-template.rst
  docs/source/_templates/custom-module-template.rst
  docs/source/actions.rst
  docs/source/all.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/meta.rst
  docs/source/pkgmanager.rst
Labels: documentation, no-changelog, tests-skip

#1212 [RHELC-1494, RHELC-1289] Restore disabled repos during conversion in rollback
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/backup/subscription.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/backup/subscription_test.py
  convert2rhel/unit_tests/subscription_test.py
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_satellite.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/enabled-repositories-after-analysis/main.fmf
  tests/integration/tier0/non-destructive/enabled-repositories-after-analysis/test_enabled_repositories_after_analysis.py
Labels: enhancement, tests-run-tier0

#1241 Add missing dependencies to requirements file
  .devcontainer/alma9/requirements.txt
  .devcontainer/centos7/requirements.txt
  requirements/centos7.requirements.txt
  requirements/centos8.requirements.txt
  requirements/centos9.requirements.txt
Labels: no-changelog, tests-skip

#1239 [RHELC-1289] Add a one key conversion method
  plans/tier0.fmf
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/conversion-method/test_one_key_satellite.py
Labels: no-changelog, tests-skip

#1236 [RHELC-1559] Update test using tmt-reboot
  plans/tier0.fmf
  plans/tier1.fmf
  pytest.ini
  tests/integration/tier0/destructive/isolated-system-conversion/main.fmf
  tests/integration/tier0/destructive/isolated-system-conversion/prepare_system.py
  tests/integration/tier0/destructive/isolated-system-conversion/test_isolated_system_conversion.py
  tests/integration/tier0/destructive/offline-system-conversion/main.fmf
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier1/destructive/one-kernel-scenario/test_one_kernel_scenario.py
Labels: no-changelog, tests-run-all

#1243 Bump version to 2.0.0
  convert2rhel/__init__.py
  packaging/convert2rhel.spec
Labels: no-changelog, tests-skip

#1246 [RHELC-1587] Fix failing artifact installation on Alma 8.8
  .packit.yaml
Labels: no-changelog, tests-run-sanity
