Repository oamg/convert2rhel, pull requests merged in 2024-08, with the labels that each got.

#1329 chore: Added CODEOWNERS to the repo for approvals
  .github/CODEOWNERS
Labels: no-changelog, tests-skip

#1293 chore: include type comments recommendation
  CONTRIBUTING.md
Labels: no-changelog, tests-skip

#1330 Use correct docs dependencies in centos9 container
  Containerfiles/centos9.Containerfile
  requirements/centos7.requirements.txt
  requirements/centos8.requirements.txt
  requirements/centos9.requirements.txt
Labels: no-changelog, tests-skip

#1266 [RHELC-1334] Port ModifiedRPMFilesDiff to Action framework
  convert2rhel/actions/post_conversion/modified_rpm_files_diff.py
  convert2rhel/main.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/actions/post_conversion/modified_rpm_files_diff_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/systeminfo_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1281 [RHELC-1622] Require yum on RHEL 8+ based systems
  packaging/convert2rhel.spec
Labels: bug-fix, no-changelog, tests-run-sanity, merge-after-tests-ok

#1250 [RHELC-1329] Port pkghandler.preserve_only_rhel_kernel() to Action framework
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1332 [RHELC-1679] Fix of super(run()) call inside action
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
Labels: bug-fix, tests-run-sanity

#1336 [RHELC-1673] Include all reports in post-conversion report
  convert2rhel/main.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1292 [RHELC-1330] Port list_non_red_hat_pkgs_left to Action framework
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/conversion/list_non_red_hat_pkgs_left_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1319 [RHELC-1427] Fix rpm -Va parsing and improve speed
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/systeminfo_test.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: bug-fix, tests-run-sanity, merge-after-tests-ok

#1340 Change qe codeowners
  .github/CODEOWNERS
Labels: no-changelog, tests-skip

#1341 Add missing task title in ListNonRedHatPkgsLeft
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
Labels: no-changelog, tests-run-sanity

#1339 [RHELC-1684] Pick correct report results after inhibitors
  convert2rhel/main.py
Labels: bug-fix, tests-run-sanity, merge-after-tests-ok

#1321 [RHELC-1332] Port PkgManagerConf() to the Action framework
  convert2rhel/actions/conversion/pkg_manager_config.py
  convert2rhel/main.py
  convert2rhel/redhatrelease.py
  convert2rhel/unit_tests/actions/conversion/pkg_manager_config_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/redhatrelease_test.py
  tests/integration/tier1/destructive/changed-yum-conf/test_patch_yum_conf.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1342 Add dependency for non redhat pkgs listing
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
Labels: no-changelog, tests-run-sanity

#1326 [RHELC-1333] Port lock_releasever_in_rhel_repositories to Action framework
  convert2rhel/actions/conversion/lock_releasever.py
  convert2rhel/main.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/actions/conversion/lock_releasever_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1303 [RHELC-1335] Port update_grub_after_conversion() to the Action framework
  convert2rhel/actions/post_conversion/update_grub.py
  convert2rhel/grub.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/post_conversion/__init__.py
  convert2rhel/unit_tests/actions/post_conversion/update_grub_test.py
  convert2rhel/unit_tests/grub_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1283 [RHELC-1336] Port remove_tmp_dir to the Action framework.
  convert2rhel/actions/post_conversion/modified_rpm_files_diff.py
  convert2rhel/actions/post_conversion/remove_tmp_dir.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/post_conversion/modified_rpm_files_diff_test.py
  convert2rhel/unit_tests/actions/post_conversion/remove_tmp_dir_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity

#1301 [RHELC-1337] Port kernel_boot_files to the Action framework
  convert2rhel/actions/post_conversion/kernel_boot_files.py
  convert2rhel/checks.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/post_conversion/kernel_boot_files_test.py
  convert2rhel/unit_tests/checks_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1311 [RHELC-1390] Port hostmetering to Action framework
  convert2rhel/actions/post_conversion/hostmetering.py
  convert2rhel/hostmetering.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/post_conversion/hostmetering_test.py
  convert2rhel/unit_tests/hostmetering_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity

#1296 [RHELC-1650] Disregard minor version with CentOS Stream
  convert2rhel/data/9/x86_64/configs/centos-9-x86_64.cfg
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/systeminfo_test.py
  tests/integration/common/checks-after-conversion/test_release_version.py
Labels: enhancement, need-integration-tests, tests-skip

#1305 [RHELC-1338] Port breadcrumbs.finish_collection to action framework
  convert2rhel/actions/post_conversion/breadcrumbs_finish_collection.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/post_conversion/breadcrumbs_finish_collection_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity

#1299 [RHELC-1339] Port of update_rhsm_custom_facts
  convert2rhel/actions/post_conversion/rhsm_custom_facts_config.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/actions/post_conversion/rhsm_custom_facts_config_test.py
Labels: enhancement, tests-run-sanity

#1344 Fix couple of issues from last #1299
  convert2rhel/actions/post_conversion/rhsm_custom_facts_config.py
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
Labels: no-changelog, tests-run-sanity

#1345 fix: lock Sphinx version on CentOS Stream 9
  docs/requirements.txt
Labels: no-changelog, tests-skip

#1258 [RHELC-1554] Remove RHSM repositories enablement fallback
  convert2rhel/subscription.py
  convert2rhel/unit_tests/subscription_test.py
  tests/integration/tier0/non-destructive/els/main.fmf
  tests/integration/tier0/non-destructive/els/test_els_enablement.py
  tests/integration/tier0/non-destructive/eus/test_eus_enablement.py
Labels: enhancement, tests-run-tier0

#1347 [RHELC-1395] Drop the python3-syspurpose workaround
  tests/integration/conftest.py
Labels: no-changelog, tests-run-sanity

#1343 Remove unused imports from code
  convert2rhel/checks.py
  convert2rhel/grub.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/actions/post_conversion/kernel_boot_files_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/actions/system_checks/dbus_test.py
  convert2rhel/unit_tests/backup/files_test.py
  convert2rhel/unit_tests/grub_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/subscription_test.py
  tests/integration/tier0/destructive/single-yum-transaction/install_dependency_packages.py
Labels: no-changelog, tests-run-sanity

#1323 [RHELC-1672, RHELC-1707, RHELC-1708] Detect a newer version of RHEL kernel in the main transaction
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/checks-after-conversion/test_yum_check_update.py
Labels: bug-fix, tests-skip

#1351 [RHELC-774] Override exclude option during yumdownloader call
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils/__init__.py
Labels: bug-fix, tests-run-sanity

#1352 Bump to version 2.1.0
  convert2rhel/__init__.py
  packaging/convert2rhel.spec
Labels: no-changelog, tests-skip

#1353 [RHELC-1672] Fix edge case of kernel meta package not the on system
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  tests/integration/common/checks-after-conversion/main.fmf
Labels: bug-fix, tests-skip

#1355 Remove info message from InstallRhelKernel
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
Labels: no-changelog, tests-skip

#1356 Bump to version 2.1.0
  packaging/convert2rhel.spec
Labels: enhancement, tests-skip

#1357 chore/Bump packit test targets
  .packit.yaml
Labels: no-changelog, tests-skip

#1349 [RHELC-1712] Conftest refactor - satellite
  tests/ansible_collections/roles/get-test-vars/tasks/get-test-vars.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_one_key_satellite.py
  tests/integration/tier0/destructive/conversion-method/test_satellite.py
  tests/integration/tier0/destructive/isolated-system-conversion/prepare_system.py
  tests/integration/tier0/non-destructive/enabled-repositories-after-analysis/test_enabled_repositories_after_analysis.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Labels: no-changelog, tests-run-tier0

#1223 [RHELC-1543] Update integrations tests for overridable config
  tests/integration/tier0/non-destructive/config-file/main.fmf
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
Labels: no-changelog, tests-run-tier0

#1362 hotfix/Fix backup_directory test fixture
  tests/integration/conftest.py
Labels: no-changelog, tests-skip
