Repository oamg/convert2rhel, pull requests merged in 2024-03, with the labels that each got.

#1122 [RHELC-1432] Copy instead of move when restoring a file
  convert2rhel/backup/files.py
  convert2rhel/unit_tests/backup/files_test.py
Labels: bug-fix, tests-run-tier0

#1126 Release v1.7.1
  convert2rhel/__init__.py
  man/convert2rhel.8
  packaging/convert2rhel.spec
Labels: no-changelog, tests-skip

#1129 Remove python version lock in dev container
  .devcontainer/alma9/devcontainer.json
  CONTRIBUTING.md
Labels: no-changelog, tests-skip

#1125 Modify pre-commit to use latest pylint version
  .pre-commit-config.yaml
  .pylintrc
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/actions_test.py
  convert2rhel/unit_tests/actions/report_test.py
  convert2rhel/unit_tests/actions/system_checks/rhel_compatible_kernel_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: no-changelog, tests-run-sanity

#1130 Rollback task using "Convert" instead of "Rollback"
  convert2rhel/backup/packages.py
Labels: bug-fix, tests-run-sanity

#1091 [RHELC-1382] Port RestorablePackage and ChangedRPMPackagesController
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/actions/pre_ponr_changes/transaction.py
  convert2rhel/actions/system_checks/custom_repos_are_valid.py
  convert2rhel/backup/__init__.py
  convert2rhel/backup/files.py
  convert2rhel/backup/packages.py
  convert2rhel/hostmetering.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/pkgmanager/__init__.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/transaction_test.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/backup/packages_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
  convert2rhel/unit_tests/pkgmanager/pkgmanager_test.py
  convert2rhel/unit_tests/subscription_test.py
  convert2rhel/unit_tests/toolopts_test.py
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils.py
Labels: enhancement, tests-run-tier0

#1096 [RHELC-1376] Remove backup controller partition
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/backup/__init__.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-tier0

#1134 [RHELC-1396] fix: errors in utils.py after full test suite
  convert2rhel/logger.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/logger_test.py
Labels: no-changelog, tests-run-sanity

#1043 [RHELC-1164] Update RHSM custom facts during analysis
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
  tests/integration/tier0/non-destructive/rhsm-facts/main.fmf
  tests/integration/tier0/non-destructive/rhsm-facts/test_rhsm_facts_update_analysis.py
Labels: enhancement, tests-run-tier0

#1133 [RHELC-1391, RHELC-340] Remove ppc64 architecture from data
  convert2rhel/data/7/ppc64/configs/centos-7-ppc64.cfg
  convert2rhel/data/7/ppc64/rhel-certs/74.pem
  convert2rhel/unit_tests/backup/certs_test.py
  packaging/convert2rhel.spec
Labels: enhancement, tests-run-sanity

#1099 chore: trigger testing by label instead of comment
  .packit.yaml
Labels: no-changelog, tests-skip

#1136 chore: trigger testing by label instead of comment
  .packit.yaml
Labels: no-changelog, tests-skip

#1058 [RHELC-1425] breaking change: Remove deprecated CLI arguments
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
  pytest.ini
  tests/integration/tier0/destructive/offline-system-conversion/test_offline_system_conversion.py
  tests/integration/tier0/non-destructive/config-file/main.fmf
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Labels: breaking-change, tests-run-sanity

#1056 [RHELC-1425] breaking change: Remove deprecated latest kernel env variable
  .devcontainer/alma9/alma9-development.Containerfile
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  plans/tier1.fmf
  pytest.ini
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
Labels: breaking-change, tests-run-sanity

#1057 [RHELC-1425] breaking change: Remove deprecated unsupported version env variable
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
Labels: breaking-change, tests-run-sanity

#1141 Add debug logs to host-metering
  convert2rhel/hostmetering.py
Labels: enhancement, tests-skip

#1142 Add a task log for update breadcrumbs
  convert2rhel/main.py
Labels: no-changelog, tests-skip

#1030 [RHELC-1282] Override yum config exclude list
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Labels: bug-fix, tests-run-tier0

#1148 [RHELC-1425] Breaking change: Remove `--disable-submgr` arg
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
  tests/integration/tier1/destructive/one-kernel-scenario/test_one_kernel_scenario.py
Labels: breaking-change, tests-run-tier1

#1147 [RHELC-1430] Breaking change: Rename incomplete rollback envvar
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/toolopts_test.py
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils.py
  man/convert2rhel.8
  plans/tier1.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/one-kernel-scenario/test_one_kernel_scenario.py
Labels: breaking-change, tests-run-tier0, tests-run-tier1

#1144 [RHELC-1342] Add post conversion stages for Action Framework
  convert2rhel/actions/__init__.py
  convert2rhel/actions/conversion/__init__.py
  convert2rhel/actions/post_conversion/__init__.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/actions_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity

#1149 [RHELC-1425] Breaking change: Remove `-v|--variant` arg
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
  man/convert2rhel.8
  pytest.ini
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: breaking-change, tests-run-tier0, tests-run-tier1

#1163 Fix: Remove version lock on centos7 devcontainer
  .devcontainer/centos7/devcontainer.json
Labels: no-changelog, tests-skip
