Repository oamg/convert2rhel, pull requests merged in 2024-02, with the labels that each got.

#1062 Fix root_privileges test string checking
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: no-changelog, tests-run-sanity

#1045 [RHELC-1375] Port RestorableFile to BackupController
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/backup/__init__.py
  convert2rhel/backup/files.py
  convert2rhel/grub.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/redhatrelease.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/backup/__init__.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/backup/files_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: enhancement, tests-run-sanity

#1063 chore/Disable tagging the qe group in comments
  .github/label-commenter-config.yml
Labels: no-changelog, tests-skip

#1064 Add devcontainer for CentOS Linux 7
  .devcontainer/alma9/.bashrc
  .devcontainer/alma9/alma9-development.Containerfile
  .devcontainer/alma9/devcontainer.json
  .devcontainer/alma9/requirements.txt
  .devcontainer/centos7/.bashrc
  .devcontainer/centos7/centos7-development.Containerfile
  .devcontainer/centos7/devcontainer.json
  .devcontainer/centos7/requirements.txt
  .github/renovate.json
Labels: no-changelog, tests-skip

#1077 Fix renovate to ignore all centos7 containers
  .github/renovate.json
Labels: no-changelog, tests-skip

#1078 Renovate to ignore centos7 requirements file
  .github/renovate.json
Labels: no-changelog, tests-skip

#1050 [RHELC-1361] Fix file clash in NewRestorableFile
  convert2rhel/backup/files.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/backup/files_test.py
Labels: bug-fix, tests-run-sanity

#1053 [RHELC-1379] Port certs and restorable key to backup module
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/backup/__init__.py
  convert2rhel/backup/certs.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/backup/certs_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/subscription_test.py
Labels: enhancement, tests-run-sanity

#1055 [RHELC-1381] Port RestorablePackageSet to packages module
  convert2rhel/backup/packages.py
  convert2rhel/pkghandler.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/backup/packages_test.py
  convert2rhel/unit_tests/pkghandler_test.py
Labels: enhancement, tests-run-sanity

#1083 chore: update autotag naming
  .github/workflows/autotag.yml
Labels: no-changelog, tests-skip

#1086 chore: autotag use dash instead of count substring
  .github/workflows/autotag.yml
Labels: no-changelog, tests-skip

#1087 [RHELC-1239] Add integration test for correct logging
  tests/integration/tier0/non-destructive/application-lock/main.fmf
  tests/integration/tier0/non-destructive/application-lock/test_application_lock.py
Labels: no-changelog, tests-run-sanity

#1088 chore: Update Jira links in releases
  .github/workflows/release.yml
Labels: no-changelog, tests-skip

#1089 [RHELC-775] Remove debug messages
  convert2rhel/actions/system_checks/convert2rhel_latest.py
Labels: no-changelog, tests-skip

#1059 [RHELC-1187] Add preconversion analysis check for device PART_ENTRY_NUMBER
  convert2rhel/actions/system_checks/efi.py
  convert2rhel/grub.py
  convert2rhel/unit_tests/actions/system_checks/efi_test.py
  convert2rhel/unit_tests/grub_test.py
Labels: enhancement, tests-run-sanity

#1104 Fix remediation spacing in IsLoadedKernelLatest action
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
Labels: no-changelog, tests-skip

#987 [RHELC-1070] Duplicate package check for preconversion analysis
  convert2rhel/actions/system_checks/duplicate_packages.py
  convert2rhel/unit_tests/actions/system_checks/duplicate_packages_test.py
Labels: enhancement, tests-run-all

#1095 [RHELC-1393] Move logger initialization to initialize module
  convert2rhel/backup/files.py
  convert2rhel/initialize.py
  convert2rhel/main.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/initialize_test.py
  convert2rhel/unit_tests/main_test.py
Labels: bug-fix, tests-run-tier0

#1035 [RHELC-1130] Swap base os specific packages
  convert2rhel/data/7/ppc64/configs/centos-7-ppc64.cfg
  convert2rhel/data/7/x86_64/configs/centos-7-x86_64.cfg
  convert2rhel/data/7/x86_64/configs/oracle-7-x86_64.cfg
  convert2rhel/data/7/x86_64/configs/scientific-7-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/almalinux-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/centos-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/oracle-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/rocky-8-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/almalinux-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/oracle-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/rocky-9-x86_64.cfg
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
  convert2rhel/unit_tests/systeminfo_test.py
Labels: bug-fix, tests-run-tier0

#1060 [RHELC-1226] Host metering
  convert2rhel/hostmetering.py
  convert2rhel/main.py
  convert2rhel/subscription.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/hostmetering_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/subscription_test.py
  plans/tier1.fmf
  pytest.ini
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/checks-after-conversion/test_verify_strings_in_log.py
  tests/integration/tier1/destructive/host-metering/main.fmf
  tests/integration/tier1/destructive/host-metering/test_host_metering_enabled.py
  tests/integration/tier1/destructive/host-metering/test_run_conversion_with_metering.py
Labels: enhancement, tests-run-all

#1039 [RHELC-1190] Add shim-x64 to the exclude list for Alma 8
  convert2rhel/data/8/x86_64/configs/almalinux-8-x86_64.cfg
  plans/tier0.fmf
Labels: bug-fix, tests-run-tier0

#1107 [RHELC-1400] Fix int tests after changes in PR 1102
  .github/workflows/enforce_verification_labels.yml
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
Labels: no-changelog, tests-run-tier0

#1110 chore:Bump Oracle Linux to 8.9 target in .packit.yaml
  .packit.yaml
Labels: no-changelog, tests-skip

#1097 [RHELC-1374] Add integration tests for enhanced file backup
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/file-backup/main.fmf
  tests/integration/tier0/non-destructive/file-backup/test_file_backup.py
Labels: no-changelog, tests-run-sanity

#1098 [FUN FRIDAY] CodeQL warning cleanup
  convert2rhel/actions/__init__.py
  convert2rhel/actions/report.py
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/redhatrelease.py
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
  convert2rhel/unit_tests/actions/system_checks/custom_repos_are_valid_test.py
  convert2rhel/unit_tests/actions/system_checks/rhel_compatible_kernel_test.py
  convert2rhel/unit_tests/backup/backup_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
  convert2rhel/unit_tests/systeminfo_test.py
  convert2rhel/unit_tests/utils_test.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/destructive/single-yum-transaction/install_dependency_packages.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
Labels: bug-fix, no-changelog, tests-run-sanity

#1092 [RHELC-1288] Add integration test verifying duplicate pkgs installed
  pytest.ini
  tests/integration/tier0/non-destructive/duplicate-pkgs/main.fmf
  tests/integration/tier0/non-destructive/duplicate-pkgs/test_duplicate_pkgs.py
Labels: no-changelog, tests-run-tier0

#1103 [RHELC-1323] Modify test to honor overridable kernel check, fix oversights
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  plans/tier0.fmf
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
Labels: no-changelog, tests-run-tier0

#1040 Set downgrade to strict mode to not miss deps
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
Labels: bug-fix, tests-run-sanity

#1121 Add auto retry for coverage analysis
  .github/workflows/coverage.yml
Labels: no-changelog, tests-skip

#1119 [RHELC-1243] Add int test to verify the httpd package error
  plans/tier1.fmf
  pytest.ini
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/main.fmf
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/test_httpd_package_transaction_error.py
  tests/integration/tier1/non-destructive/main.fmf
Labels: no-changelog, tests-run-tier1, tests-run-all
