Repository oamg/convert2rhel, pull requests merged in 2024-12, with the labels that each got.

#1436 [RHELC-1759] Remove zero value report messages
  convert2rhel/actions/conversion/lock_releasever.py
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/actions/post_conversion/hostmetering.py
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/unit_tests/actions/conversion/lock_releasever_test.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  convert2rhel/unit_tests/actions/post_conversion/hostmetering_test.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
Labels: skip/changelog, tests/sanity, kind/refactor

#1437 [RHELC-1760] Make post-conversion analysis summary clearer
  convert2rhel/actions/__init__.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
Labels: tests/sanity, merge-after-tests-ok, kind/refactor

#1446 [RHELC-1682] Remove debug messages when comparing c2r versions
  convert2rhel/actions/system_checks/convert2rhel_latest.py
Labels: tests/skip, kind/refactor

#1442 tests/Fix a leftover missing el9 setup
  tests/integration/tier1/destructive/detect-bootloader-partition/test_detect_correct_boot_partition.py
Labels: skip/changelog, tests/skip, kind/tests
