Repository oamg/convert2rhel, pull requests merged in 2024-01, with the labels that each got.

#1000 fix: devcontainer and changed base to Alma Linux 9
  .devcontainer/alma9-development.Containerfile
  .devcontainer/alma9.requirements.txt
  .devcontainer/devcontainer.json
Labels: no-changelog, tests-skip

#1011 [RHELC-1037] Add manpage generation to all releases
  .github/workflows/release.yml
  scripts/manpage_generation.sh
Labels: no-changelog, tests-skip

#975 [RHELC-1300] Cleanup firewalld action
  convert2rhel/actions/system_checks/check_firewalld_availability.py
  convert2rhel/unit_tests/actions/system_checks/check_firewalld_availability_test.py
  tests/integration/tier0/non-destructive/firewalld-inhibitor/test_firewalld_inhibitor.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
Labels: no-changelog, tests-run-sanity

#1025 chore: simplify release rpm creation
  .github/workflows/release.yml
  Makefile
Labels: no-changelog, tests-skip

#1027 Remove Ansible playbooks in favor of infra.convert2rhel
  README.md
  ansible/run-convert2rhel.yml
  ansible/setup-convert2rhel.yml
Labels: documentation, no-changelog, tests-skip

#1028 [RHELC-1308] Specify a full path to the called modinfo utility
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
Labels: bug-fix, tests-run-sanity

#683 [RHELC-750, RHELC-1005] Rewrite the log messages in download_pkg() to not use "unsupported"
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
Labels: enhancement, tests-run-tier0

#1032 [RHELC-1067] Automatically tag every Friday
  .github/workflows/autotag.yml
Labels: no-changelog, tests-skip

#949 [RHELC-1174] Update remediation key to match leapp report metadata
  convert2rhel/actions/__init__.py
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/actions/pre_ponr_changes/transaction.py
  convert2rhel/actions/report.py
  convert2rhel/actions/system_checks/check_firewalld_availability.py
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/actions/system_checks/custom_repos_are_valid.py
  convert2rhel/actions/system_checks/dbus.py
  convert2rhel/actions/system_checks/efi.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/actions/system_checks/tainted_kmods.py
  convert2rhel/exceptions.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/actions_test.py
  convert2rhel/unit_tests/actions/data/stage_tests/all_status_actions/test.py
  convert2rhel/unit_tests/actions/data/stage_tests/good_deps_failed_actions/test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/special_cases_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/actions/report_test.py
  convert2rhel/unit_tests/actions/system_checks/check_firewalld_availability_test.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/custom_repos_are_valid_test.py
  convert2rhel/unit_tests/actions/system_checks/dbus_test.py
  convert2rhel/unit_tests/actions/system_checks/efi_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  convert2rhel/unit_tests/actions/system_checks/readonly_mounts_test.py
  convert2rhel/unit_tests/actions/system_checks/rhel_compatible_kernel_test.py
  convert2rhel/unit_tests/actions/system_checks/tainted_kmods_test.py
  schemas/assessment-schema-1.2.json
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
Labels: enhancement, tests-run-sanity

#1042 [RHELC-1370] Fix Alma Linux 8 packages being seen as third-party
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/data/8/x86_64/configs/almalinux-8-x86_64.cfg
Labels: bug-fix, tests-run-sanity

#1031 [RHELC-1307] Collect environment variables in breadcrumbs
  convert2rhel/breadcrumbs.py
  convert2rhel/unit_tests/breadcrumbs_test.py
Labels: bug-fix, tests-skip

#684 [RHELC-750] Rewrite the log messages using the word "unsupported" in is_loaded_kernel_latest()
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/kernel-check-skip/main.fmf
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/one-kernel-scenario/run_conversion.py
  tests/integration/tier1/destructive/system-up-to-date/test_system_up_to_date.py
Labels: enhancement, tests-run-tier0

#1044 Fix leftover remediation from #684
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
Labels: no-changelog, tests-skip

#1046 [RHELC-1372] Change ignore to disregard in messages
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils.py
Labels: enhancement, tests-skip

#989 [RHELC-1378] Add remediation to overridable result in package updates action
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
Labels: enhancement, tests-run-all

#1029 [RHELC-1131, RHELC-1234] Refactor logger to not require root
  convert2rhel/logger.py
  convert2rhel/main.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/logger_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/utils_test.py
  convert2rhel/utils.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: bug-fix, tests-run-tier0, merge-after-tests-ok

#1015 [RHELC-1200] Add OVERRIDABLE result to tainted kernel module check
  convert2rhel/actions/system_checks/tainted_kmods.py
  convert2rhel/unit_tests/actions/system_checks/tainted_kmods_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1048 Change ignore to disregard in tainted kmods function
  convert2rhel/actions/system_checks/tainted_kmods.py
  convert2rhel/unit_tests/actions/system_checks/tainted_kmods_test.py
Labels: no-changelog, tests-run-sanity

#1049 [RHELC-1373] Reduce timeout for the internet connectivity check
  convert2rhel/systeminfo.py
Labels: bug-fix, tests-run-tier0, merge-after-tests-ok

#1051 Move settings property to match the correct structure
  .devcontainer/devcontainer.json
Labels: no-changelog, tests-skip

#1054 Add language server to devcontainer
  .devcontainer/devcontainer.json
Labels: no-changelog, tests-skip

#990 [RHELC-1173] Replace the word `skip` in report messages
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/actions/pre_ponr_changes/special_cases.py
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/actions/system_checks/check_firewalld_availability.py
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/actions/system_checks/custom_repos_are_valid.py
  convert2rhel/actions/system_checks/dbus.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/special_cases_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/actions/system_checks/check_firewalld_availability_test.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/custom_repos_are_valid_test.py
  convert2rhel/unit_tests/actions/system_checks/dbus_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
Labels: enhancement, tests-run-all, merge-after-tests-ok

#1026 [RHELC-1295] Change OVERRIDABLE result to WARNING message in package update action
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
Labels: enhancement, tests-run-sanity
