Repository oamg/convert2rhel, pull requests merged in 2024-04, with the labels that each got.

#1168 Revert "chore: trigger testing by label instead of comment"
  .packit.yaml
Labels: no-changelog, tests-skip

#1127 Improve UX for release Jira auto-linking
  .github/pull_request_template.md
  .github/workflows/release.yml
Labels: no-changelog, tests-skip

#1154 [RHELC-1465] Set consistent task prefix for pre-conversion
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/actions/pre_ponr_changes/special_cases.py
  convert2rhel/actions/pre_ponr_changes/subscription.py
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/main.fmf
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/test_problematic_third_party_pkgs.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
Labels: enhancement, tests-run-tier0

#1173 chore: build RPMs on tags
  .github/workflows/release.yml
Labels: no-changelog, tests-skip

#1172 [RHELC-465] Remove deprecated todo comment about pool ids
  convert2rhel/subscription.py
Labels: no-changelog, tests-skip

#1162 [RHELC-1489] Fix an error message referring to a non-existing --organization option
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/toolopts_test.py
Labels: bug-fix, tests-skip, merge-after-tests-ok

#1176 Add python3-dnf pkg to alma9 devcontainer
  .devcontainer/alma9/alma9-development.Containerfile
Labels: no-changelog, tests-skip

#1138 [RHELC-649] Bump parallel-limit for plan execution
  .packit.yaml
Labels: no-changelog, tests-run-tier0

#1170 [RHELC-1488] Remove packages left after the TF artifact installation
  pytest.ini
  tests/ansible_collections/main.yml
  tests/ansible_collections/roles/remove-tf-artifact-leftovers/tasks/clean_up_el7.yml
  tests/ansible_collections/roles/remove-tf-artifact-leftovers/tasks/clean_up_el8.yml
  tests/ansible_collections/roles/remove-tf-artifact-leftovers/tasks/main.yml
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/kernel/files/alma_old.repo
  tests/integration/tier0/non-destructive/kernel/files/rocky_old.repo
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
Labels: no-changelog, tests-run-tier0

#1180 Update allowlist path for gitleaks
  .gitleaks.toml
Labels: no-changelog, tests-skip

#1152 [RHELC-1328] Migrate post conversion transaction function
  convert2rhel/actions/conversion/transaction.py
  convert2rhel/main.py
  convert2rhel/unit_tests/actions/conversion/__init__.py
  convert2rhel/unit_tests/actions/conversion/transaction_test.py
  convert2rhel/unit_tests/main_test.py
Labels: enhancement, tests-run-sanity, merge-after-tests-ok

#1169 [RHELC-1484] Update efi check for PART_ENTRY_NUMBER
  convert2rhel/grub.py
  convert2rhel/unit_tests/grub_test.py
Labels: enhancement, tests-run-tier0, merge-after-tests-ok

#897 [RHELC-676] Unify parsing of the system release string
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/systeminfo_test.py
Labels: enhancement, tests-run-sanity

#1177 [RHELC-1490, RHELC-1498] Move environment variables to tests metadata
  plans/tier0.fmf
  plans/tier1.fmf
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/checks-after-conversion/test_flag_system_as_converted.py
  tests/integration/common/utils/reboot-after-conversion/main.fmf
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/destructive/offline-system-conversion/main.fmf
  tests/integration/tier0/destructive/single-yum-transaction/main.fmf
  tests/integration/tier0/destructive/yum-distro-sync/main.fmf
  tests/integration/tier0/non-destructive/application-lock/main.fmf
  tests/integration/tier0/non-destructive/assessment-report/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/config-file/main.fmf
  tests/integration/tier0/non-destructive/custom-repository/main.fmf
  tests/integration/tier0/non-destructive/cve-2022-1662/main.fmf
  tests/integration/tier0/non-destructive/duplicate-pkgs/main.fmf
  tests/integration/tier0/non-destructive/eus/main.fmf
  tests/integration/tier0/non-destructive/file-backup/main.fmf
  tests/integration/tier0/non-destructive/firewalld-inhibitor/main.fmf
  tests/integration/tier0/non-destructive/internet-connection-check/main.fmf
  tests/integration/tier0/non-destructive/kernel-modules/main.fmf
  tests/integration/tier0/non-destructive/kernel/main.fmf
  tests/integration/tier0/non-destructive/logged-command/main.fmf
  tests/integration/tier0/non-destructive/modified-releasever/main.fmf
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/main.fmf
  tests/integration/tier0/non-destructive/rhsm-facts/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier0/non-destructive/user-prompt-response/main.fmf
  tests/integration/tier1/destructive/changed-grub-file/main.fmf
  tests/integration/tier1/destructive/changed-yum-conf/main.fmf
  tests/integration/tier1/destructive/detect-bootloader-partition/main.fmf
  tests/integration/tier1/destructive/excluded-packages-removed/main.fmf
  tests/integration/tier1/destructive/firewalld-disabled-ol8/main.fmf
  tests/integration/tier1/destructive/host-metering/main.fmf
  tests/integration/tier1/destructive/host-metering/test_run_conversion_with_metering.py
  tests/integration/tier1/destructive/kernel-boot-files/main.fmf
  tests/integration/tier1/destructive/kernel-check-skip/main.fmf
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/multiple-nic/main.fmf
  tests/integration/tier1/destructive/one-kernel-scenario/main.fmf
  tests/integration/tier1/destructive/one-kernel-scenario/test_one_kernel_scenario.py
  tests/integration/tier1/destructive/system-not-up-to-date/main.fmf
  tests/integration/tier1/destructive/unavailable-package/main.fmf
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/main.fmf
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/test_httpd_package_transaction_error.py
Labels: no-changelog, tests-run-all

#1160 [RHELC-1486] Drop envparse from tests
  plans/main.fmf
  tests/ansible_collections/main.yml
  tests/ansible_collections/roles/get-test-vars/tasks/get-test-vars.yml
  tests/ansible_collections/roles/get-test-vars/tasks/main.yml
  tests/ansible_collections/roles/install-testing-deps/tasks/main.yml
  tests/ansible_collections/roles/update-ca-trust/tasks/update-ca-trust.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_activation_key.py
  tests/integration/tier0/destructive/conversion-method/test_config_file.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_non_eus.py
  tests/integration/tier0/destructive/conversion-method/test_satellite.py
  tests/integration/tier0/destructive/offline-system-conversion/prepare_system.py
  tests/integration/tier0/destructive/offline-system-conversion/test_offline_system_conversion.py
  tests/integration/tier0/destructive/single-yum-transaction/test_check_for_latest_packages.py
  tests/integration/tier0/destructive/single-yum-transaction/test_single_yum_transaction.py
  tests/integration/tier0/destructive/yum-distro-sync/test_yum_distro_sync.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/duplicate-pkgs/test_duplicate_pkgs.py
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
  tests/integration/tier0/non-destructive/firewalld-inhibitor/test_firewalld_inhibitor.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/kernel/test_kernel_check_verification.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/test_problematic_third_party_pkgs.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier0/non-destructive/user-prompt-response/test_user_prompt_response.py
  tests/integration/tier1/destructive/changed-grub-file/test_invalid_changed_grub.py
  tests/integration/tier1/destructive/changed-grub-file/test_valid_changed_grub.py
  tests/integration/tier1/destructive/changed-yum-conf/test_patch_yum_conf.py
  tests/integration/tier1/destructive/detect-bootloader-partition/test_detect_correct_boot_partition.py
  tests/integration/tier1/destructive/excluded-packages-removed/test_excluded_pkgs_removed.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
  tests/integration/tier1/destructive/host-metering/test_run_conversion_with_metering.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_corrupted_files.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_missing_boot_files.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
  tests/integration/tier1/destructive/unavailable-package/test_pkg_removed_from_centos_85.py
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/test_httpd_package_transaction_error.py
Labels: no-changelog, tests-run-all

#1184 Add version lock of python extensions in CentOS 7 Devcontainer
  .devcontainer/centos7/devcontainer.json
Labels: no-changelog, tests-skip

#1131 refactor: move `utils.py` to a module
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/backup/certs.py
  convert2rhel/backup/packages.py
  convert2rhel/breadcrumbs.py
  convert2rhel/unit_tests/backup/certs_test.py
  convert2rhel/utils/__init__.py
  convert2rhel/utils/files.py
Labels: no-changelog, tests-skip

#1189 Move common pytest arguments to config file
  pytest.ini
  tests/integration/common/checks-after-conversion/main.fmf
  tests/integration/common/utils/reboot-after-conversion/main.fmf
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/destructive/offline-system-conversion/main.fmf
  tests/integration/tier0/destructive/single-yum-transaction/main.fmf
  tests/integration/tier0/destructive/yum-distro-sync/main.fmf
  tests/integration/tier0/non-destructive/application-lock/main.fmf
  tests/integration/tier0/non-destructive/assessment-report/main.fmf
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/config-file/main.fmf
  tests/integration/tier0/non-destructive/custom-repository/main.fmf
  tests/integration/tier0/non-destructive/cve-2022-1662/main.fmf
  tests/integration/tier0/non-destructive/duplicate-pkgs/main.fmf
  tests/integration/tier0/non-destructive/eus/main.fmf
  tests/integration/tier0/non-destructive/file-backup/main.fmf
  tests/integration/tier0/non-destructive/firewalld-inhibitor/main.fmf
  tests/integration/tier0/non-destructive/internet-connection-check/main.fmf
  tests/integration/tier0/non-destructive/kernel-modules/main.fmf
  tests/integration/tier0/non-destructive/kernel/main.fmf
  tests/integration/tier0/non-destructive/logged-command/main.fmf
  tests/integration/tier0/non-destructive/modified-releasever/main.fmf
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/main.fmf
  tests/integration/tier0/non-destructive/rhsm-facts/main.fmf
  tests/integration/tier0/non-destructive/rollback-handling/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/user-prompt-response/main.fmf
  tests/integration/tier1/destructive/changed-grub-file/main.fmf
  tests/integration/tier1/destructive/changed-yum-conf/main.fmf
  tests/integration/tier1/destructive/detect-bootloader-partition/main.fmf
  tests/integration/tier1/destructive/excluded-packages-removed/main.fmf
  tests/integration/tier1/destructive/firewalld-disabled-ol8/main.fmf
  tests/integration/tier1/destructive/host-metering/main.fmf
  tests/integration/tier1/destructive/kernel-boot-files/main.fmf
  tests/integration/tier1/destructive/kernel-check-skip/main.fmf
  tests/integration/tier1/destructive/one-kernel-scenario/main.fmf
  tests/integration/tier1/destructive/system-not-up-to-date/main.fmf
  tests/integration/tier1/destructive/unavailable-package/main.fmf
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/main.fmf
Labels: no-changelog, tests-run-tier0, tests-skip

#1132 [RHELC-1426] Drop support for 8.6 EUS conversions
  .packit.yaml
  convert2rhel/actions/system_checks/eus.py
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/actions/system_checks/eus_test.py
  convert2rhel/unit_tests/systeminfo_test.py
  plans/main.fmf
  plans/tier0.fmf
  tests/ansible_collections/main.yml
  tests/ansible_collections/roles/add-custom-repos/main.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/alma-86-repos.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/main.yml
  tests/ansible_collections/roles/hardcode-eus-version-repos/tasks/rocky-86-repos.yml
  tests/integration/common/checks-after-conversion/test_enabled_repositories.py
  tests/integration/common/checks-after-conversion/test_release_version.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/destructive/offline-system-conversion/prepare_system.py
  tests/integration/tier0/destructive/single-yum-transaction/test_check_for_latest_packages.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier0/non-destructive/eus/test_eus_support.py
  tests/integration/tier1/destructive/kernel-check-skip/install_older_kernel.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
Labels: enhancement, tests-run-sanity

#1183 [RHELC-1503] Fix RHSM facts filepath in a log message
  convert2rhel/breadcrumbs.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
Labels: bug-fix, tests-run-sanity

#1022 [RHELC-1228, RHELC-1231] Improve detection of RHSM credentials in subscription check
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/subscription_test.py
  pytest.ini
  tests/integration/conftest.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
Labels: enhancement, tests-run-all

#1193 Fix incorrect usages of rstrip with a string argument.
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/pkghandler.py
Labels: no-changelog, tests-run-sanity

#1195 Override pytest addopts for local development
  Makefile
Labels: no-changelog, tests-run-all

#1182 [RHELC-1385] Satellite package backup failure fix
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/backup/packages.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/actions/system_checks/duplicate_packages_test.py
  convert2rhel/unit_tests/backup/packages_test.py
Labels: enhancement, tests-run-tier0

#1201 Fix incorrect test mock in unit tests
  convert2rhel/unit_tests/backup/packages_test.py
Labels: no-changelog, tests-skip

#1205 Add override-ini to pipeline test
  .github/workflows/coverage.yml
Labels: no-changelog, tests-skip
