Repository oamg/convert2rhel, pull requests merged in 2024-11, with the labels that each got.

#1392 [RHELC-1736] Fix different exit codes
  convert2rhel/main.py
  convert2rhel/unit_tests/main_test.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/duplicate-pkgs/test_duplicate_pkgs.py
  tests/integration/tier0/non-destructive/els/test_els_enablement.py
  tests/integration/tier0/non-destructive/eus/test_eus_enablement.py
  tests/integration/tier0/non-destructive/file-backup/test_file_backup.py
  tests/integration/tier0/non-destructive/grub/test_invalid_changed_to_grub.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/test_httpd_package_transaction_error.py
Labels: kind/bug-fix, tests/sanity, merge-after-tests-ok

#1418 [RHELC-1756] Remove legacy/RHEL 5 GPG key
  convert2rhel/data/version-independent/gpg-keys/RPM-GPG-KEY-redhat-legacy-release
Labels: tests/sanity, kind/refactor

#1385 [RHELC-1578] Change out of date packages overridable inhibitor to warning
  config/convert2rhel.ini
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/toolopts/config.py
  convert2rhel/unit_tests/actions/system_checks/package_updates_test.py
  convert2rhel/unit_tests/toolopts/config_test.py
  plans/tier1.fmf
  tests/integration/tier1/destructive/system-not-up-to-date/main.fmf
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
Labels: kind/feature, tests/tier0, merge-after-tests-ok

#1419 chore: Improve autotag and build rpm again
  .github/workflows/autotag.yml
  .github/workflows/build-rpm.yml
Labels: skip/changelog, tests/skip, kind/infra

#1420 chore: Improve autotag and build rpm again
  .github/workflows/autotag.yml
  .github/workflows/build-rpm.yml
Labels: skip/changelog, tests/skip, kind/infra

#1428 chore: Remove workflow call and allow manual runs
  .github/workflows/autotag.yml
Labels: skip/changelog, tests/skip, kind/infra

#1434 chore/Add 9.5 to source an target distro mapping
  tests/integration/common/checks-after-conversion/test_release_version.py
Labels: skip/changelog, tests/skip, kind/tests

#1403 [RHELC-1717] Fix the latest RHEL kernel not being set as default when converting from CentOS Stream 9
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/pkghandler.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  tests/integration/common/checks-after-conversion/main.fmf
Labels: kind/bug-fix, tests/sanity

#1423 [RHELC-1536] Add check to verify deprecated envar message
  tests/integration/common/checks-after-conversion/test_verify_strings_in_log.py
  tests/integration/conftest.py
  tests/integration/test_helpers/checks_nondestructive.py
  tests/integration/test_helpers/common_functions.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/main.fmf
  tests/integration/tier0/non-destructive/kernel-modules/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/main.fmf
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
Labels: skip/changelog, tests/skip, kind/tests

#1433 [RHELC-1511] Tell users to use config ini instead of env vars
  convert2rhel/actions/post_conversion/hostmetering.py
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/tainted_kmods.py
  convert2rhel/cli.py
  convert2rhel/toolopts/__init__.py
  convert2rhel/unit_tests/actions/post_conversion/hostmetering_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/kernel_modules_test.py
  convert2rhel/unit_tests/actions/system_checks/convert2rhel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/actions/system_checks/tainted_kmods_test.py
  convert2rhel/unit_tests/cli_test.py
  convert2rhel/unit_tests/toolopts/toolopts_test.py
  convert2rhel/unit_tests/utils/utils_test.py
  convert2rhel/utils/__init__.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
Labels: skip/changelog, tests/tier0, kind/refactor

#1439 chore/Bump test targets for Alma and Rocky to 9.5
  .packit.yaml
Labels: skip/changelog, tests/skip, kind/infra

#1435 [RHELC-1728] Don't update RHSM facts without sub-man installed
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/subscription.py
  convert2rhel/unit_tests/subscription_test.py
  tests/integration/tier0/non-destructive/basic-sanity-checks/test_basic_sanity_checks.py
Labels: need-integration-tests, kind/bug-fix, tests/tier0

#1360 [RHELC-1716] Introduce finer granularity with packit test labels
  .packit.yaml
Labels: skip/changelog, tests/skip, kind/infra

#1425 [RHELC-1753] Fix reaching unaccessible repos from enablerepo
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/backup/packages.py
  convert2rhel/pkghandler.py
  convert2rhel/pkgmanager/__init__.py
  convert2rhel/repo.py
  convert2rhel/unit_tests/repo_test.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
Labels: kind/bug-fix, tests/tier0

#1441 Bump version to 2.2.0
  convert2rhel/__init__.py
  packaging/convert2rhel.spec
Labels: kind/documentation, skip/changelog, tests/skip

#1440 [RHELC-1535] Test set envar through config
  plans/tier1.fmf
  tests/integration/tier1/destructive/host-metering/main.fmf
  tests/integration/tier1/destructive/host-metering/test_run_conversion_with_metering.py
Labels: skip/changelog, tests/skip, kind/tests
