Repository oamg/convert2rhel, pull requests merged in 2024-09, with the labels that each got.

#1186 [RHELC-1105] Try using SCA enabled account in tests
  plans/tier1.fmf
  tests/ansible_collections/group_vars/all.yml
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_activation_key.py
  tests/integration/tier0/destructive/conversion-method/test_config_file.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_eus.py
  tests/integration/tier0/destructive/single-yum-transaction/test_check_for_latest_packages.py
  tests/integration/tier0/destructive/single-yum-transaction/test_single_yum_transaction.py
  tests/integration/tier0/destructive/yum-distro-sync/test_yum_distro_sync.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
  tests/integration/tier0/non-destructive/duplicate-pkgs/test_duplicate_pkgs.py
  tests/integration/tier0/non-destructive/els/main.fmf
  tests/integration/tier0/non-destructive/els/test_els_enablement.py
  tests/integration/tier0/non-destructive/eus/main.fmf
  tests/integration/tier0/non-destructive/eus/test_eus_enablement.py
  tests/integration/tier0/non-destructive/firewalld-inhibitor/test_firewalld_inhibitor.py
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
  tests/integration/tier0/non-destructive/problematic-third-party-pkgs/test_problematic_third_party_pkgs.py
  tests/integration/tier0/non-destructive/rollback-handling/test_rollback_handling.py
  tests/integration/tier0/non-destructive/single-yum-transaction-validation/test_single_yum_transaction_validation.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_pre_register.py
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/user-prompt-response/test_user_prompt_response.py
  tests/integration/tier1/destructive/changed-grub-file/test_invalid_changed_grub.py
  tests/integration/tier1/destructive/changed-grub-file/test_valid_changed_grub.py
  tests/integration/tier1/destructive/changed-yum-conf/test_patch_yum_conf.py
  tests/integration/tier1/destructive/detect-bootloader-partition/test_detect_correct_boot_partition.py
  tests/integration/tier1/destructive/excluded-packages-removed/test_excluded_pkgs_removed.py
  tests/integration/tier1/destructive/firewalld-disabled-ol8/test_firewalld_disabled_ol8.py
  tests/integration/tier1/destructive/host-metering/test_run_conversion_with_metering.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_corrupted_files.py
  tests/integration/tier1/destructive/kernel-boot-files/test_handle_missing_boot_files.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
  tests/integration/tier1/destructive/system-not-up-to-date/test_system_not_up_to_date.py
  tests/integration/tier1/destructive/unavailable-package/test_pkg_removed_from_centos_85.py
  tests/integration/tier1/destructive/yum-conf-exclude-packages/test_yum_conf_exclude_packages.py
  tests/integration/tier1/non-destructive/httpd-package-transaction-error/test_httpd_package_transaction_error.py
Labels: no-changelog, tests-run-all

#1367 Update Red Hat GPG Key URL to new location
  tests/integration/conftest.py
  tests/integration/tier1/destructive/proxy-conversion/test_proxy_conversion.py
Labels: no-changelog, tests-skip

#1358 [RHELC-1715] - conftest.py refactor - rearange functions
  tests/ansible_collections/roles/remove-tf-artifact-leftovers/tasks/clean_up_el7.yml
  tests/integration/common/checks-after-conversion/test_flag_system_as_converted.py
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_els.py
  tests/integration/tier0/destructive/isolated-system-conversion/prepare_system.py
  tests/integration/tier0/non-destructive/assessment-report/test_assessment_report.py
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
  tests/integration/tier0/non-destructive/els/test_els_enablement.py
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/kernel/test_oracle_unsupported_uek.py
  tests/integration/tier0/non-destructive/subscription-manager/main.fmf
  tests/integration/tier0/non-destructive/subscription-manager/test_sub_man_rollback.py
  tests/integration/tier0/non-destructive/system-release-backup/main.fmf
  tests/integration/tier0/non-destructive/system-release-backup/test_system_release_backup.py
Labels: no-changelog, tests-run-tier0

#1361 [RHELC-1715, RHELC-1134] conftest.py refactor - remove unnecessary code
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/main.fmf
  tests/integration/tier0/non-destructive/kernel-modules/test_unsupported_kmod.py
  tests/integration/tier0/non-destructive/kernel/test_custom_kernel.py
  tests/integration/tier0/non-destructive/modified-releasever/test_modified_releasever.py
Labels: no-changelog, tests-skip

#1327 [RHELC-1732] refactor: Improved logger usage
  convert2rhel/actions/__init__.py
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
  convert2rhel/actions/conversion/lock_releasever.py
  convert2rhel/actions/conversion/pkg_manager_config.py
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/actions/conversion/set_efi_config.py
  convert2rhel/actions/conversion/transaction.py
  convert2rhel/actions/post_conversion/hostmetering.py
  convert2rhel/actions/post_conversion/kernel_boot_files.py
  convert2rhel/actions/post_conversion/modified_rpm_files_diff.py
  convert2rhel/actions/post_conversion/remove_tmp_dir.py
  convert2rhel/actions/post_conversion/update_grub.py
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/actions/pre_ponr_changes/handle_packages.py
  convert2rhel/actions/pre_ponr_changes/kernel_modules.py
  convert2rhel/actions/pre_ponr_changes/special_cases.py
  convert2rhel/actions/pre_ponr_changes/subscription.py
  convert2rhel/actions/pre_ponr_changes/transaction.py
  convert2rhel/actions/report.py
  convert2rhel/actions/system_checks/check_firewalld_availability.py
  convert2rhel/actions/system_checks/convert2rhel_latest.py
  convert2rhel/actions/system_checks/custom_repos_are_valid.py
  convert2rhel/actions/system_checks/dbus.py
  convert2rhel/actions/system_checks/duplicate_packages.py
  convert2rhel/actions/system_checks/efi.py
  convert2rhel/actions/system_checks/els.py
  convert2rhel/actions/system_checks/eus.py
  convert2rhel/actions/system_checks/is_loaded_kernel_latest.py
  convert2rhel/actions/system_checks/package_updates.py
  convert2rhel/actions/system_checks/readonly_mounts.py
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/actions/system_checks/tainted_kmods.py
  convert2rhel/applock.py
  convert2rhel/backup/__init__.py
  convert2rhel/backup/certs.py
  convert2rhel/backup/files.py
  convert2rhel/backup/packages.py
  convert2rhel/backup/subscription.py
  convert2rhel/breadcrumbs.py
  convert2rhel/checks.py
  convert2rhel/grub.py
  convert2rhel/initialize.py
  convert2rhel/logger.py
  convert2rhel/main.py
  convert2rhel/pkghandler.py
  convert2rhel/pkgmanager/__init__.py
  convert2rhel/pkgmanager/handlers/dnf/__init__.py
  convert2rhel/pkgmanager/handlers/dnf/callback.py
  convert2rhel/pkgmanager/handlers/yum/__init__.py
  convert2rhel/pkgmanager/handlers/yum/callback.py
  convert2rhel/redhatrelease.py
  convert2rhel/repo.py
  convert2rhel/subscription.py
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/unit_tests/actions/data/stage_tests/action_exceptions/test.py
  convert2rhel/unit_tests/logger_test.py
  convert2rhel/utils/__init__.py
Labels: no-changelog, tests-run-sanity

#1374 Add missing distros to rpm description
  packaging/convert2rhel.spec
Labels: no-changelog, tests-skip

#1363 [RHELC-1675] Add handling for rhel9 systems in duplicate package check
  convert2rhel/actions/system_checks/duplicate_packages.py
  convert2rhel/unit_tests/actions/system_checks/duplicate_packages_test.py
Labels: bug-fix, tests-run-tier1

#1370 [RHELC-1687] - conftest.py refactor - custom repos
  plans/tier1.fmf
  tests/integration/conftest.py
  tests/integration/tier0/destructive/conversion-method/test_custom_repos.py
  tests/integration/tier0/destructive/conversion-method/test_rhsm_eus.py
  tests/integration/tier0/non-destructive/custom-repository/test_custom_repository.py
  tests/integration/tier1/destructive/kernel-check-skip/test_latest_kernel_check_skip.py
Labels: no-changelog, tests-run-tier0

#1379 chore: set Renovate to ignore Sphinx deps
  .github/renovate.json
Labels: no-changelog, tests-skip

#1280 [RHELC-961] Rename GPG fingerprint to key_id
  convert2rhel/actions/conversion/list_non_red_hat_pkgs_left.py
  convert2rhel/actions/conversion/preserve_only_rhel_kernel.py
  convert2rhel/actions/system_checks/rhel_compatible_kernel.py
  convert2rhel/data/7/x86_64/configs/centos-7-x86_64.cfg
  convert2rhel/data/7/x86_64/configs/oracle-7-x86_64.cfg
  convert2rhel/data/7/x86_64/configs/scientific-7-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/almalinux-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/centos-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/oracle-8-x86_64.cfg
  convert2rhel/data/8/x86_64/configs/rocky-8-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/almalinux-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/oracle-9-x86_64.cfg
  convert2rhel/data/9/x86_64/configs/rocky-9-x86_64.cfg
  convert2rhel/pkghandler.py
  convert2rhel/systeminfo.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/conversion/list_non_red_hat_pkgs_left_test.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
  convert2rhel/unit_tests/actions/system_checks/rhel_compatible_kernel_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/dnf/dnf_test.py
  convert2rhel/unit_tests/pkgmanager/handlers/yum/yum_test.py
  convert2rhel/utils/__init__.py
Labels: enhancement, tests-run-all

#1272 [RHELC-1507] Port environment variables to config file
  config/convert2rhel.ini
  convert2rhel/actions/post_conversion/kernel_boot_files.py
  convert2rhel/actions/post_conversion/modified_rpm_files_diff.py
  convert2rhel/actions/pre_ponr_changes/backup_system.py
  convert2rhel/breadcrumbs.py
  convert2rhel/cli.py
  convert2rhel/logger.py
  convert2rhel/main.py
  convert2rhel/subscription.py
  convert2rhel/systeminfo.py
  convert2rhel/toolopts.py
  convert2rhel/toolopts/__init__.py
  convert2rhel/toolopts/config.py
  convert2rhel/unit_tests/__init__.py
  convert2rhel/unit_tests/actions/conversion/lock_releasever_test.py
  convert2rhel/unit_tests/actions/conversion/preserve_only_rhel_kernel_test.py
  convert2rhel/unit_tests/actions/post_conversion/kernel_boot_files_test.py
  convert2rhel/unit_tests/actions/post_conversion/modified_rpm_files_diff_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/backup_system_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/handle_packages_test.py
  convert2rhel/unit_tests/actions/pre_ponr_changes/subscription_test.py
  convert2rhel/unit_tests/actions/system_checks/custom_repos_are_valid_test.py
  convert2rhel/unit_tests/actions/system_checks/els_test.py
  convert2rhel/unit_tests/actions/system_checks/eus_test.py
  convert2rhel/unit_tests/actions/system_checks/is_loaded_kernel_latest_test.py
  convert2rhel/unit_tests/backup/packages_test.py
  convert2rhel/unit_tests/backup/subscription_test.py
  convert2rhel/unit_tests/breadcrumbs_test.py
  convert2rhel/unit_tests/checks_test.py
  convert2rhel/unit_tests/cli_test.py
  convert2rhel/unit_tests/conftest.py
  convert2rhel/unit_tests/logger_test.py
  convert2rhel/unit_tests/main_test.py
  convert2rhel/unit_tests/pkghandler_test.py
  convert2rhel/unit_tests/pkgmanager/pkgmanager_test.py
  convert2rhel/unit_tests/subscription_test.py
  convert2rhel/unit_tests/systeminfo_test.py
  convert2rhel/unit_tests/toolopts/__init__.py
  convert2rhel/unit_tests/toolopts/config_test.py
  convert2rhel/unit_tests/toolopts/toolopts_test.py
  convert2rhel/unit_tests/toolopts_test.py
  convert2rhel/unit_tests/utils/__init__.py
  convert2rhel/unit_tests/utils/subscription_test.py
  convert2rhel/unit_tests/utils/utils_test.py
  convert2rhel/utils/__init__.py
  convert2rhel/utils/rpm.py
  convert2rhel/utils/subscription.py
  man/__init__.py
  scripts/whitelist.py
  tests/integration/tier0/non-destructive/config-file/test_config_file.py
Labels: enhancement, tests-run-tier0

#1381 chore(Renovate): ignore deps from specific files
  .github/renovate.json
Labels: no-changelog, tests-skip

#1368 [RHELC-1601] Add preconversion check for invalid grub file
  convert2rhel/actions/system_checks/grub_validity.py
  convert2rhel/unit_tests/actions/system_checks/grub_validity_test.py
Labels: enhancement, tests-run-all

#1388 chore: add concurrent pytest runs
  Makefile
  requirements/centos7.requirements.txt
  requirements/centos8.requirements.txt
  requirements/centos9.requirements.txt
Labels: no-changelog, tests-skip

#1391 [RHELC-1604] Verify grub file validity check
  plans/tier1.fmf
  tests/integration/tier0/non-destructive/grub/main.fmf
  tests/integration/tier0/non-destructive/grub/test_invalid_changed_to_grub.py
  tests/integration/tier1/destructive/changed-grub-file/main.fmf
  tests/integration/tier1/destructive/changed-grub-file/test_invalid_changed_grub.py
Labels: no-changelog, tests-run-sanity
